body {
	font-family: Roboto;
	margin: 0;
	font-size: 16px;
	color: #000;
	background: #fff;
	line-height: 1.5;
}

*{
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

/* -----Header--------------------------- */

.header {
	background: url(../images/header-background.png) repeat-x;
	color: #fff;
}

.logo {
	display: inline-block;
	background: url(../images/logo.png) no-repeat 0 0;
	width: 175px;
	height: 70px;
	text-indent: 105%;
	overflow: hidden;
}

.header-content {
	display: flex;
	padding-top: 95px;
}

.header-content__left {
	width: 50%;
	margin-top: 51px;
}

.header__text {
	font-size: 24px;
	line-height: 36px;
	max-width: 79%;
	margin: 51px 0 25px 0;
}

.header__img {
	width: 50%;
	display: flex;
}

.header__img img {
	margin: auto;
}

.header__icons {
	display: flex;
}

.header__icon {	
  border-radius: 50%;
	width: 52px;
	height: 52px;
	margin-right: 14px;
}

.icon-apple {
	background: url(../images/apple.png) no-repeat 50%;
	background-color: rgba(27, 77, 111, 0.8);
}

.icon-android {
	background: url(../images/android.png) no-repeat 50%;
	background-color: rgba(27, 77, 111, 0.8);
}

.icon-windows {
	background: url(../images/windows.png) no-repeat 50%;
	background-color: rgba(27, 77, 111, 0.8);
}


/* -----Features--------------------------- */

	/* -----Features-Header--------------------------- */
.features-block{
	margin: 58px 0 0 0;
}

.header-block h3 {
	margin: 0;
	margin-bottom: 25px;
	text-align: center;
	font-weight: 700;
	line-height: 18px;
	color: #222222;
	font-size: 30px;
}

.header-block__text {
	font-size: 16px;
	color: #848484;
	margin: 0 auto;
	width: 90%;
	text-align: center;
}

.header-block__text p{
	margin: 0;
	display: inline-block;
}

.features-header {
	display: inline-block;
	margin-bottom: 103px;
}

	/* -----Features-services--------------------------- */

.features-services {
	display: flex;
	justify-content: space-between;
}

.features-services-2 {
	padding-bottom: 55px;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 60px;
}

.services__border {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 55px;
}

.services-block-items {
	display: flex;
	flex-direction: column;
}

.services__link  {
	padding-top: 120px;
	display: flex;
	justify-content: center	;
	text-decoration: none;
	font-size: 24px;
	line-height: 18px;
	color: #222222;
	font-weight: 500;
}

.link-1 {
	background: url(../images/icon-1.png) no-repeat 50%;
}

.link-2 {
	background: url(../images/icon-2.png) no-repeat 50%;
}

.link-3 {
	background: url(../images/icon-3.png) no-repeat 50%;
}

.link-4 {
	background: url(../images/icon-4.png) no-repeat 50%;
}

.link-5 {
	background: url(../images/icon-5.png) no-repeat 50%;
}

.link-6 {
	background: url(../images/icon-6.png) no-repeat 50%;
}

.services__text {
	text-align: center;
	line-height: 26px;
	color: #848484;
	margin: 0;
	margin-top: 25px;
	/* margin-bottom: 30px; */
	max-width: 301px;
	text-align: center;
	
}



/* -----ABOUT--------------------------- */

.about-block {
	background-color: #e7e7e7;
}

.about-content {
	display: flex;
	padding: 60px 0 50px 0;
}

.about-content__left {
	width: 50%;
	color: #848484;
}

.about-content__left ul {
	list-style: disc;
}

.about__title {
	font-size: 30px;
	font-weight: 500;
	color: #222222;
	line-height: 18px;
	margin: 0;
	margin-bottom: 33px;
}

.about__text {
	margin: 0;
	margin-bottom: 25px;
}

.block__marks {
	padding-left: 43px;
}

.about-content__img {
	width: 50%;
	display: flex;
}

.about-content__img img {
	margin: auto 0 auto auto;
}

/* -----Article--------------------------- */

.article-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 61px;
}

.article__text {
	font-style: italic;
	color: #848484;
	line-height: 32px;
	max-width: 81%;
	font-size: 24px;
	text-align: center;
	margin: 0;
}

.article__author {
	line-height: 18px;
	color: #222222;
	font-weight: 500;
	margin: 0;
	margin-top: 22px;
	margin-bottom: 61px;
}

/* -----Price--------------------------- */
	
	/* -----Price-header--------------------------- */

.price-block {
	background-color: #e7e7e7;
}

.price-header {
	padding-top: 65px;
	padding-bottom: 55px;
}

	/* -----Price-blocks--------------------------- */

.price-columns {
	display: flex;
	justify-content: space-between;	
}

.price-column {
	display: flex;
	flex-direction: column;
	padding-bottom: 46px;
	width: 24%;
}

.price-column-items {
	background-color: #fff ;
	display: flex;
	flex-direction: column;
	height: 474px;
}

.price__title {
	background-color: #3498db;
	color: #fefefe;
	font-size: 28px;
	font-weight: 500;
	margin: 0;
	padding: 7px 0;		
	text-align: center;
}

.price__price {
	font-size: 42px;
	line-height: 24px;
	color: #222222;
	font-weight: 700;
	text-align: center;
	border-bottom: 1px solid #c2c2c2;
	margin: 0;
	padding: 22px 0;
	width: 252px;
	align-self: center;
}

.price__feature {
	color: #848484;
	margin: 0;
	width: 252px;
	text-align: center;
	padding: 14px 0;
	align-self: center;
}

.price__feature {
	border-bottom: 1px solid #c2c2c2;
}

.feature__last {
	border-bottom: none;
	flex-grow: 1;
}

.feature__last-2 {
	flex-grow: 1;
	padding-bottom: 0;
	border-bottom: none;
}

.price__btn {
	font-size: 15px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	background-color: #0d74b9;
	text-decoration: none;
	width: 137px;
	height: 40px;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	padding-top: 11px;
	margin-bottom: 20px;
	align-self: center;
}

	/* -----Footer--------------------------- */

.footer {
	background-color: #e3e3e3;
	margin-top: 9px;
	padding: 60px 0 57px 0;
}

.footer__list {
	display: flex;
	justify-content: center;
}

.footer__list a {
	text-decoration: none;
	color: #848484;
	margin-right: 32px;
}

.footer__list a:last-child {
	margin-right: 0;
}